# Dependencies
node_modules/

# Build outputs
android/app/build/
android/.gradle/
android/local.properties
bin/
gen/
.gradle/
*.keystore
*.apk
*.idsig
*.apk.idsig

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.log
.uploads/

# Package manager
package-lock.json
